:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

button {
  color: #fff;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
  margin: 0;
  padding: 0;
  background: transparent;
}
button:hover {
  cursor: pointer;
}
button:disabled {
  opacity: 0.6;
  cursor: unset;
}

.visualizer-cntr {
  width: 100%;
  height: calc(100% - 160px);
}

#visualizer {
  width: 100%;
  height: 100%;
}

.controls {
  height: 160px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.player-btn {
  width: 50px;
  height: 50px;
}
.player-btn > img {
  width: 50px;
  height: 50px;
}

.seek-bar {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.elapsed-time,
.total-time {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.seek-bar-input {
  width: 60%;
}

input[type="range"] {
  accent-color: #fff;
}
input[type="range"]::-webkit-slider-thumb:hover {
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb:hover {
  cursor: pointer;
}

.secondary-controls {
  position: fixed;
  bottom: 200px;
  right: -60px;
  
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 768px) {
  .secondary-controls {
    bottom: 50%;
    right: -90px;
  }
}

input[type="range"].secondary-controls-input {
  transform: rotate(270deg) translate(-100%);
  transform-origin: top left;
}

.mute-btn {
  width: 25px;
  height: 25px;
}
.mute-btn > img {
  width: 25px;
  height: 25px;
}
